.s1 {
    position: sticky;
    top: 45px;
    background-color: greenyellow;
    /*background-color: aqua;*/
    height: 100vh;
    width: 100vw;
    min-width: 596px;
    min-height: 410px;
}

.s1_body {
    
    background-color: antiquewhite;
    height: calc(100vh - 45px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    

}

/************************************************************************/

.s1_body_title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}

/***********************************************************************/

.s1_body_components {
    background-color: rgb(255, 166, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 2px solid black;
    height: 250px;
    width: 580px;
}

.s1_body_components_line {
    background-color: aquamarine;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    
    margin-right: 4px;

}

.s1_body_components_line_label {
    flex: 1;
    background-color: red;
    font-size: 19px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
}

.s1_body_components_line_right {
    background-color: rgb(101, 101, 211);
    flex: 2;
    height: 30px;
    display: flex;
    gap: 3px;
}

.s1_body_components_line_right_txt {
    flex: 1;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: bold;
}

.s1_body_components_line_right_txt:focus {
    outline: none;
}

.s1_body_components_line_right_nonrtxt {
    display: flex;
    align-items: center;
    font-size: 15px;
}

/***************************************************************************/

.s1_body_buttons {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 420px;

}

.s1_body_buttons_btn_back {
    width: 150px;
    height: 40px;
    border: 2px solid red;
    border-radius: 5px;
    font-weight: 500;
    font-size: 24px;
    background: white;
    color: red;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}

.s1_body_buttons_btn_back:hover {
    background: red;
    color: white;
    cursor: pointer;
}

.s1_body_buttons_btn_back:active {

    cursor: pointer;
}

.s1_body_buttons_btn_next {
    width: 150px;
    height: 40px;
    border: 2px solid red;
    border-radius: 5px;
    font-weight: 500;
    font-size: 24px;
    background: white;
    color: red;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.s1_body_buttons_btn_next:hover {
    background: red;
    color: white;
    cursor: pointer;
}

.s1_body_buttons_btn_next:active {
    cursor: pointer;
}

/***********************************************************************************/

@media only screen and (max-width: 596px)

/*and (max-height: 850px)*/
    {

    .s1_body {
        background-color: blue;
        gap: 8px;
    }

    .s1_body_components {
        width: 440px;
    }

    .s1_body_components_line_label {
        font-size: 12px;
        font-weight: bold;
    }

    .s1_body_components_line_right {
        flex: 3;
    }

    .s1_body_components_line_right_nonrtxt {
        font-size: 12px;
        text-overflow: ellipsis;
    }

    .s1_body_buttons {
        background-color: aqua;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        width: 320px;
    }

}
/*********************************************************************/

@media only screen and (max-height: 410px){
    .s1_body {
        background-color: blueviolet;
        height: 100%;
    }
}