.sidebar_mc {
    height: 100vh;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgb(255, 0, 0) 14%, rgb(241, 77, 77) 90%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow-x: scroll;
    overflow-y: scroll;
  }
  


  .sidebar_mc a {
    user-select: none;
    padding: 10px 15px 10px 20px;
    /*text-decoration: none;*/
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*transition: 0.3s;*/
  }
  
  .sidebar_mc a:hover {
    color: red;
    background-color: white;
    cursor: pointer;
  }

  .sidebar_mc a:active {
    cursor: pointer;
  }

  .sidebar_mc_ico {
    margin-right: 10px;
  }
  
  .sidebar_mc .sidebar_mc_closebtn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidebar_mc hr{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
  }