.home_mc {
    height: 100vh;
   
}

.home_mc_page {
    /*background-color: aqua;*/
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home_mc_page_c{
    
    background: whitesmoke;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 1);
    -box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 1);
    border-radius: 20px;
    width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.home_mc_page_c_btn {
    width: 55%;
    height: 60px;
    border: 2px solid red;
    border-radius: 5px;
    font-weight: 500;
    font-size: 24px;
    background: white;
    color: red;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}

.home_mc_page_c_btn_ico {
    font-size: 25px !important;
    margin-right: 10px;
}

.home_mc_page_c_btn:hover {
    background: red;
    color: white;
    cursor: pointer;
}

.home_mc_page_c_btn:active {
    cursor: pointer;
}