.verletzungen {
    height: 100vh;
    width: 100vw;
    
    min-height: 915px;
}

.verletzungen_body {
    /*background-color: aquamarine;*/

    height: calc(100vh - 45px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    min-height: 870px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/************************************************************************/

.verletzungen_body_title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    color: red;
}

/***********************************************************************/

.verletzungen_body_components {
    /*background-color: rgb(240, 239, 239);*/
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    min-height: 700px;
    height: 700px;
    width: 826px;
}

.verletzungen_body_components_line {
    /*background-color: aqua;*/
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.verletzungen_body_components_line_label {
    background-color: rgb(240, 239, 239);
    flex: 1;
    display: flex;
    align-items: center;
    width: 98.6%;
    padding-left: 6px;background-color: rgb(240, 239, 239);
    flex: 1;
    display: flex;
    align-items: center;
    width: calc(100% - 6px);
    padding-left: 6px;

}

.verletzungen_body_components_line_right3 {
    /*background-color: burlywood;*/
    flex: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3px;
    flex-wrap: wrap;
    overflow-x: scroll;
    overflow-y: scroll;
    
}

.verletzungen_body_components_line_right3_multiselect {
    display: flex;
    gap: 5px;
    margin-left: 5px;
    cursor: pointer;
    /*background: pink;*/
}

/**********************************************************************/
@media only screen and (max-width: 1080px) {
    .verletzungen_body_components {

        width: 100%;
    }
}