.toggle-switch {
    display: inline-block;
    height: 28px;
    position: relative;
    width: 52px;
  }
  
  .toggle-switch input {
    display: none;
  }
  
  .switch {
    background-color: #ccc;
    border-radius: 20px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.1s ease-in-out;
  }
  
  .switch:before {
    background-color: #fff;
    border-radius: 50%;
    bottom: 2px;
    content: "";
    height: 24px;
    left: 2px;
    position: absolute;
    transition: all 0.1s ease-in-out;
    width: 24px;
  }
  
  input:checked + .switch {
    background-color: #2196f3;
  }
  
  input:checked + .switch:before {
    transform: translateX(24px);
  }
  